/* dispo.css */
body {
	font-family: 'Arial', sans-serif;
	background-color: #eaf4ff; /* Fondo azul muy claro */
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h2 {
	color: #003d66; /* Azul oscuro */
	margin-bottom: 20px;
	text-align: center;
}

p {
	color: #003d66; /* Azul oscuro */
	margin: 10px 0;
	font-size: 18px;
}

div {
	margin: 10px 0;
	text-align: center;
}

label {
	color: #005999; /* Azul medio */
	font-weight: bold;
	margin-right: 10px;
}

input[type='text'] {
	padding: 8px;
	margin-right: 10px;
	border: 2px solid #99ccff; /* Borde azul claro */
	border-radius: 4px;
	font-size: 14px;
}

button {
	background-color: #007acc; /* Azul medio */
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #005999; /* Azul oscuro al pasar el mouse */
}
