body {
	font-family: 'Arial', sans-serif;
	background-color: #e0f7ff; /* Fondo azul claro */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	color: #003d66; /* Azul más oscuro */
	margin-bottom: 30px;
	text-align: center;
}

.button-container {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

#results {
	background-color: #ffffff; /* Fondo blanco */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

button {
	background-color: #007acc; /* Azul medio */
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #005999; /* Azul más oscuro al pasar el mouse */
}
